.footer {
  margin: 100px 200px 20px 200px;
  padding: 10px;

  .top {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  .item {
    flex: 1;

    h1 {
      font-size: 18px;
      color: #777;
      font-weight: 500;
    }

    span {
      display: flex;
      align-items: flex-start;
      color: #777;
      margin-top: 8px;
      font-size: 14px;
    }

    p {
      color: #777;
      width: 250px;
      text-align: justify;
      font-size: 14px;
    }
  }

  .bottom {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .logo {
        color: #2879fe;
        font-weight: bold;
        font-size: 24px;
      }

      .copywrite {
        margin-left: 20px;
        font-size: 10px;
        align-items: center;
        color: #777;
      }
    }
  }
}
